<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration>

	
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
		</layout>
	</appender>
	<!-- ZMonitor as a Log4j appender 
	<appender name="ZMonitorIgnition" 
		class="org.zmonitor.logger.log4j.ZMonitorNDCAppender">
		<param name="embedded" value="true"/>
		<param name="inTestMode" value="true"/>
	</appender>
		 -->
		
	<root>
		<priority value="debug" />
		<appender-ref ref="stdout" />
		<!--  
		<appender-ref ref="ZMonitorIgnition" />
		-->
	</root>

</log4j:configuration>